<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="css/bootstrap.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1 class="display-4">Hello world</h1>
          <p class="lead">This is a simple site, a simple from khairul.anas</p>
          <hr class="my-4">
          <a href="#" role="button" class="btn btn-primary btn-lg">learn more</a>

        </div>
      </div>
    </div>
  </div>

  <script src="js/bootstrap.js"></script>
</body>

</html>