<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Submit new user</title>
  <link rel="stylesheet" href="css/bootstrap.css">
</head>

<body>
  <div class="container">
    <label for="nama" class="col-sm-2 col-form-label">Input nama baru</label>
    <form action="POST" class="form-inline">
      <div class="form-group mx-sm-3 mb-2">

        <input type="text" class="form-control" id="nama" placeholder="nama">
      </div>
      <button type="submit" class="btn btn-success mb-2">Submit</button>
    </form>

  </div>
  <script src="js/bootstrap.js"></script>
</body>

</html>